<div class="container-fluid">
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-10 display-1 text-success">NoleSile</div>
    </div>
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-10 display-4 text-success">Términos de uso</div>
    </div>
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-10">
        <p>
            Los presentes Términos de uso (en adelante, “los Términos de Uso”) establecen las condiciones bajo las cuales se ofrece a los usuarios el acceso a los sitios web, 
            servicios y aplicaciones Nolesile (en adelante, “el Servicio”) , que es una plataforma que permite a los usuarios publicar ofertas para el intercambio de una amplia 
            variedad de artículos de su propiedad, así como la comunicación entre los usuarios ofertantes y los usuarios interesados en adquirir los artículos ofrecidos y la 
            localización geográfica de los mismos, para completar la transacción.
        </p>
        <p>
            El uso del Servicio atribuye a quien lo realiza la condición de usuario del mismo (en adelante, “el Usuario”) e implica la aceptación íntegra de estos Términos de Uso. 
            En caso de no estar de acuerdo con todo o parte de estos Términos de Uso, el Usuario debe abstenerse de instalar y utilizar el Servicio.
        </p>
        <p>
            Por medio de la aceptación de los presentes Términos de Uso, el Usuario manifiesta que ha leído, entiende y comprende lo aquí expuesto, que asume todas las obligaciones 
            aquí dispuestas y que es mayor de edad y tiene la capacidad legal suficiente para utilizar el Servicio.
        </p>
        <p>
            Estos Términos de Uso serán aplicables a los Usuarios a partir de 8 de Abril 2020. Su aceptación por parte de los Usuarios será un paso previo e indispensable a la 
            utilización del Servicio. El titular del Servicio se reserva la facultad de realizar en cualquier momento cualquier modificación o actualización de los Términos de Uso 
            que, una vez entren en vigor, deberá ser aceptada por el Usuario para continuar utilizando el Servicio.
        </p>
        <p>
            <b>1. Titular del servicio</b>
        </p>
        <p>
            El titular y propietario del Servicio es Lucky20, S.L. (en adelante, Nolesile), con domicilio en Madrid, Calle General Ricardos 22 4ºE (C.P. 28019), support.es@nolesile.com, 
            provista de NIF A20202020, constituida el XX de XX de 2020, ante el Notario D XXXXX e inscrita en el Registro Mercantil de Madrid, Tomo XXXXX, 
            Folio XX, Hoja A-XXXXX, Inscripción Xª.
        </p>
        <p>
            <b>2. Necesidad de registro</b>
        </p>
        <p>
            Para poder utilizar el Servicio es necesario el previo registro del Usuario, la aceptación de los presentes Términos de uso y la Política de privacidad y de cookies.
        </p>
        <p>
            Los datos introducidos por el Usuario deberán ser exactos, actuales y veraces. El Usuario registrado será responsable en todo momento de la custodia de su contraseña, 
            asumiendo en consecuencia cualesquiera daños y perjuicios que pudieran derivarse de su uso indebido, así como de la cesión, revelación o extravío de la misma, debiendo 
            informar inmediatamente a Nolesile en caso de que tenga motivos para creer que su contraseña ha sido utilizada de manera no autorizada o es susceptible de serlo. 
            En cualquier caso, el acceso a áreas restringidas y/o el uso del Servicio realizado bajo la contraseña de un Usuario registrado se reputarán realizados por dicho Usuario, 
            quien responderá en todo caso de dicho acceso y uso.
        </p>
        <p>
            Mediante la aceptación de los Términos de Uso, el Usuario consiente que sus datos pasen a formar parte del fichero de Nolesile y el tratamiento de esos datos será conforme 
            a lo previsto en la Política de Privacidad.
        </p>
        <p>
            <b>3. Normas de utilización del servicio</b>
        </p>
        <p>
            El Usuario se obliga a utilizar el Servicio conforme a lo establecido en la ley, la moral, el orden público y los presentes Términos de Uso. Asimismo, se obliga hacer un 
            uso adecuado del Servicio y a no emplearlo para realizar actividades ilícitas o constitutivas de delito, que atenten contra los derechos de terceros o que infrinjan cualquier 
            norma del ordenamiento jurídico.
        </p>
        <p>
            El Usuario se obliga a no transmitir, introducir, difundir y poner a disposición de terceros, cualquier tipo de material e información (productos, objetos, datos, contenidos, 
            mensajes, dibujos, archivos de sonido e imagen, fotografías, software, etc.) que sean contrarios a la ley, la moral, el orden público y los presentes Términos de Uso. A título 
            enunciativo y en ningún caso limitativo o excluyente, el Usuario se compromete a:
        </p>
        <p>
            I. No introducir o difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico, de apología del terrorismo o que atenten contra los derechos humanos.
        </p>
        <p>
            II. No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido que atente contra los derechos fundamentales y las libertades 
            públicas reconocidos constitucionalmente y en los tratados internacionales.
        </p>
        <p>
            III. No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido que constituya publicidad ilícita o desleal.
        </p>
        <p>
            IV. No transmitir publicidad no solicitada o autorizada, material publicitario, “correo basura”, “cartas en cadena”, “estructuras piramidales”, o cualquier otra forma de solicitación, 
            excepto en aquellas áreas (tales como espacios comerciales) que hayan sido exclusivamente concebidas para ello.
        </p>
        <p>
            V. No introducir o difundir cualquier información y contenidos falsos, engañosos, ambiguos o inexactos de forma que induzca o pueda inducir a error a los receptores de la información.
        </p>
        <p>
            VI. No suplantar a otros Usuarios del Servicio ni transmitir los datos de acceso a la cuenta ni la contraseña a un tercero sin el consentimiento de Nolesile.
        </p>
        <p>
            VII. No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido sin autorización de los titulares de los derechos de propiedad intelectual 
            e industrial que puedan recaer sobre tal información, elemento o contenido.
        </p>
        <p>
            VIII. No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o contenido que suponga una violación del secreto de las comunicaciones y la legislación 
            de datos de carácter personal.
        </p>
        <p>
            IX. No difundir, transmitir o poner a disposición de terceros fotografías ni cualquier representación o imagen de personas menores de edad.
        </p>
        <p>
            X. Cualquier sustancia que requiera una receta médica o que deba dispensarse bajo la supervisión de un médico (doctor, dentista, optometrista, óptico, farmacéutico o veterinario) no está 
            permitida en Nolesile. Así como los productos que puedas influir en la salud del individuo (que presenten contraindicaciones, interacciones, etc) y perecederos de cualquier tipo.
        </p>
        <p>
            XI. Es obligatorio disponer de autorización sanitaria de funcionamiento para desarrollar cualquier actividad sanitaria (número de colegiado o número de registro del centro). 
        </p>
        <p>
            El Usuario se obliga a mantener indemne a Nolesile ante cualquier posible reclamación, multa, pena o sanción que pueda venir obligada a soportar como consecuencia del incumplimiento 
            por parte del Usuario de cualquiera de las normas de utilización antes indicadas, reservándose, además Nolesile el derecho a solicitar la indemnización por daños y perjuicios que corresponda.
        </p>
        <p>
            <b>4. Exclusión de Usuarios</b>
        </p>
        <p>
            Nolesile se reserva el derecho a impedir el uso del Servicio, ya sea de forma temporal o definitiva, a cualquier Usuario que infrinja cualquiera de las normas establecidas en estos Términos de Uso, 
            la ley o la moral. Discrecionalmente, Nolesile también podrá excluir Usuarios e incluso dejar de prestar total o parcialmente el Servicio cuando así lo considere oportuno para mejorar la operativa 
            del Servicio y/o del resto de los usuarios del mismo.
        </p>
        <p>
            <b>5. Exclusión de responsabilidad</b>
        </p>
        <p>
            Nolesile no es propietaria de ninguno de los artículos exhibidos a través de su plataforma y no es parte en el intercambio llevado a cabo exclusivamente entre usuarios ni revisa o valida los productos 
            que los Usuarios ofrecen a través del Servicio, por lo que Nolesile no será responsable, ni directa ni indirectamente, ni subsidiariamente, de los daños y perjuicios de cualquier naturaleza derivados 
            de la utilización y contratación de los contenidos y de las actividades de los Usuarios y/o de terceros a través del Servicio así como de la falta de licitud, fiabilidad, utilidad, veracidad, exactitud, 
            exhaustividad y actualidad de los mismos.
        </p>
        <p>
            Con carácter enunciativo, y en ningún caso limitativo, Nolesile no será responsable por los daños y perjuicios de cualquier naturaleza derivados de:
        </p>
        <p>
            a) La utilización que los Usuarios hagan del Servicio ni por el estado, origen, posible inexactitud, o posible falsedad de los datos proporcionados por los Usuarios ni de los productos ofrecidos a través 
            del Servicio.
        </p>
        <p>
            b) Los contenidos, informaciones, opiniones y manifestaciones de cualquier Usuario o de terceras personas o entidades que se comuniquen o exhiban a través del Servicio (incluye el envío de imágenes a 
            través del chat).
        </p>
        <p>
            c) La utilización que los Usuarios puedan hacer de los materiales del Servicio, ya sean prohibidos o permitidos, en infracción de los derechos de propiedad intelectual y/o industrial, información 
            confidencial, de contenidos del Servicio o de terceros.
        </p>
        <p>
            d) La realización de actos de competencia desleal y publicidad ilícita.
        </p>
        <p>
            e) La eventual pérdida de datos de los Usuarios por causa no atribuible al Servicio,
        </p>
        <p>
            f) El acceso de menores de edad a los contenidos incluidos en el Servicio.
        </p>
        <p>
            g) La indisponibilidad, errores, fallos de acceso y falta de continuidad del Servicio.
        </p>
        <p>
            h) Los fallos o incidencias que pudieran producirse en las comunicaciones, borrado o transmisiones incompletas.
        </p>
        <p>
            i) La no operatividad o problemas en la dirección de email facilitada por el Usuario.
        </p>
        <p>
            Nolesile responderá única y exclusivamente frente al Usuario de los Servicios que preste por sí misma y de los contenidos directamente originados e identificados con su copyright, quedando 
            limitada, como máximo, al importe de las cantidades percibidas directamente del Usuario por Nolesile, con exclusión en todo caso de responsabilidad por daños indirectos o por lucro cesante.
        </p>
        <p>
            Cualquier reclamación o controversia que pueda surgir entre los Usuarios del Servicio deberá ser solventada entre éstos, obligándose a mantener a Nolesile totalmente indemne, sin perjuicio de 
            lo cual Nolesile realizará sus mejores esfuerzos para facilitar a los Usuarios una pronta y satisfactoria solución a través de su Servicio de Atención al Usuario
        </p>
        <p>
            <b>6. Contenidos y servicios enlazados a través del Servicio</b>
        </p>
        <p>
            El Servicio puede incluir dispositivos técnicos de enlace, directorios e incluso instrumentos de búsqueda que permitan al Usuario acceder a otras páginas y portales de internet (en adelante, 
            “Sitios Enlazados”).
        </p>
        <p>
            El Usuario reconoce y acepta que el acceso a los Sitios Enlazados será bajo su exclusivo riesgo y responsabilidad y exonera a Nolesile de cualquier responsabilidad sobre eventuales vulneraciones 
            de derechos de propiedad intelectual o industrial de los titulares de los Sitios Enlazados. Así mismo el Usuario exonera a Nolesile de cualquier responsabilidad sobre la disponibilidad técnica 
            de las páginas web enlazadas, la calidad, fiabilidad, exactitud y/o veracidad de los servicios, informaciones, elementos y/o contenidos a los que el Usuario pueda acceder.
        </p>
        <p>
            En estos casos, Nolesile sólo será responsable de los contenidos y servicios suministrados en los Sitios Enlazados en la medida en que tenga conocimiento efectivo de la ilicitud y no haya desactivado 
            el enlace con la diligencia debida. En el supuesto de que el Usuario considere que existe un Sitio Enlazado con contenidos ilícitos o inadecuados podrá comunicárselo a Nolesile, sin que en ningún 
            caso esta comunicación conlleve la obligación de retirar el correspondiente enlace.
        </p>
        <p>
            En ningún caso, la existencia de Sitios Enlazados debe presuponer la formalización de acuerdos con los responsables o titulares de los mismos, ni la recomendación, promoción o identificación de 
            Nolesile con las manifestaciones, contenidos o servicios proveídos. Nolesile no conoce los contenidos y servicios de los Sitios Enlazados y, por tanto, no se hace responsable de forma directa o 
            indirecta por los daños producidos por la ilicitud, calidad, desactualización, indisponibilidad, error e inutilidad de los contenidos y/o servicios de los Sitios Enlazados ni por cualquier otro 
            daño que no sea directamente imputable a Nolesile.
        </p>
        <p>
            <b>7. Propiedad intelectual e industrial</b>
        </p>
        <p>
            Los derechos de propiedad industrial e intelectual sobre las obras, prestaciones protegidas y cualesquiera contenidos o elementos sobre los que recaigan derechos de propiedad intelectual e 
            industrial que se usen en el Servicio (los “Contenidos del Servicio”) pertenecen a sus legítimos titulares. El Usuario no adquirirá por el uso del Servicio ningún derecho de propiedad 
            intelectual o industrial, ni licencia de uso alguna sobre tales elementos.
        </p>
        <p>
            Son Contenidos del Servicio, los textos, fotografías, gráficos, imágenes, iconos, tecnología, software, bases de datos, y demás contenidos audiovisuales o sonoros, así como su diseño gráfico 
            y códigos fuente utilizados en el Servicio. Esta enumeración se realiza a título enunciativo y ejemplificativo, no limitativo.
        </p>
        <p>
            El texto, las imágenes, los gráficos, los ficheros de sonido, los ficheros de animación, los ficheros de vídeo, el software y la apariencia del sitio web de Nolesile son objeto de protección 
            por derechos de propiedad intelectual e industrial. Esos elementos no podrán ser válida y legítimamente copiados o distribuidos para uso comercial, ni podrán ser modificados o insertados en 
            otros sitios web sin previa autorización expresa de sus titulares.
        </p>
        <p>
            El Usuario manifiesta ser titular en exclusiva de todos los derechos que recaen sobre las obras, prestaciones protegidas y cualesquiera otros elementos protegidos por propiedad intelectual o 
            industrial que incorpore en el Servicio (en adelante, los “Contenidos”).
        </p>
        <p>
            El Usuario cede gratuitamente y en exclusiva a Nolesile los derechos de comunicación pública, reproducción, distribución y transformación que tiene sobre los Contenidos, en todas las modalidades 
            de explotación existentes en la fecha aceptación de estos Términos de Uso, por todo el tiempo de vigencia de los derechos objeto de cesión, para el ámbito territorial universal.
        </p>
        <p>
            Nolesile no representa ni tiene vinculación empresarial alguna con las marcas que los Usuarios puedan anunciar en el Servicio y Apple no patrocina ni participa en modo alguno en las acciones 
            llevadas a cabo por Nolesile a través del Servicio.
        </p>
        <p>
            Cualesquiera consultas relacionadas con lo anterior pueden plantearse a través del Servicio de Atención al Usuario a través de support@nolesile.com.
        </p>
        <p>
            <b>8. Publicación de anuncios</b>
        </p>
        <p>
            En cualquier caso, a la hora de publicar sus anuncios el Usuario deberá tomar en consideración lo siguiente:
        </p>
        <p>
            – No está permitido publicar anuncios con imágenes de contenido sexual.
        </p>
        <p>
            – No está permitido publicar anuncios relacionados con el sexo, el erotismo o el fetichismo, así como tampoco relacionados con masajes, servicios de compañía o amistad.
        </p>
        <p>
            – No está permitido anunciar esquemas piramidales o similares.
        </p>
        <p>
            – Sólo se permite anunciar un inmueble por anuncio. En tal caso, el inmueble debe anunciarse en la localidad en la que se encuentre.
        </p>
        <p>
            – No se pueden buscar compañeras o compañeros para pisos relax, piso de masajes, etc.
        </p>
        <p>
            – No está permitido publicar imágenes o descripciones que no se correspondan con el artículo realmente ofrecido.
        </p>
        <p>
            – No está permitido publicar imágenes de menores de edad
        </p>
        <p>
            – No está permitido publicar anuncios relacionados con animales.
        </p>
        <p>
            En cualquier caso, a la hora de publicar sus anuncios el Usuario deberá tomar en consideración las reglas de convivencia.
        </p>
        <p>
            <b>9. Servicios de visibilidad</b>
        </p>
        <p>
            Los usuarios podrán incrementar la visibilidad de sus anuncios en Nolesile, a través de la contratación de servicios de preferencias publicitarias («servicios de visibilidad»).
        </p>
        <p>
            Los servicios de visibilidad son servicios opcionales que pueden disfrutar los Usuarios para mejorar el posicionamiento de los artículos anunciados.
        </p>
        <!-- <p>
            Los anuncios destacados tienen un formato distinto que los anuncios no destacados: aparecen en el muro con un tamaño mayor y son distinguidos con un icono diferencial (un ala de 
            distintos colores o con un rayo amarillo, en función del tipo de destacado escogido).
        </p> -->
        <p>
            Este servicio está disponible para todos los usuarios de la app Nolesile ubicados en España, Francia, Portugal, UK, Gibraltar y Andorra. Por lo tanto, se puede utilizar en cualquier 
            producto y categoría que cumpla estas condiciones.
        </p>
        <!-- <p>
            Las compras de destacados en la aplicación se realizan a través de las stores (Google Play e iTunes en función de si tu dispositivo es Android o es iOS). Los cobros son gestionados 
            por estas plataformas y al utilizar el servicio se aceptan sus condiciones de uso
        </p> -->
        <p>
            La contratación del servicio a través de la web de Nolesile está disponible únicamente en España.
        </p>
        <p>
            Las compras de destacados en la web se realizan a través de la plataforma Stripe. 
        </p>
        <p>
            Stripe permite realizar pagos a través de internet de forma segura, siempre que tanto el usuario haya llevado a cabo el registro en Stripe y la aceptación de los términos y condiciones 
            de uso de la plataforma. (Stripe Payments Europe, Ltd., sociedad domiciliada en 1 Grand Canal Street Lower, Dublin 2, Ireland). 
        </p>
        <p>
            No es posible eliminar, trasladar ni cambiar el tipo o la duración de un destacado que ya ha sido aplicado a un anuncio, independientemente de que el anuncio sea retirado por nuestro 
            equipo de moderación o se vea afectado por una incidencia técnica.
        </p>
        <p>
            Si se elimina un anuncio destacado y el periodo contratado aún no ha finalizado, el tiempo de visibilidad excedente se perderá.
        </p>
        <p>
            Al realizar una compra de servicios de visibilidad a través de la web, el usuario recibirá una confirmación de la compra por email a la cuenta de correo asociada a su perfil de Nolesile. 
            <!-- Desde la app, las compras de destacados se realizan a través de las stores, de manera que será Google Play o iTunes quienes envíen el recibo correspondiente. -->
        </p>
        <p>
            Para solicitar una factura de la compra de servicios de visibilidad a través de la web, es necesario realizar la solicitud escribiendo al correo billing@nolesile.com. Nolesile gestionará 
            la petición en un plazo máximo de 15 días naturales a partir del momento en que dispongamos de los datos fiscales del solicitante, necesarios para emitir la factura.
        </p>
        <!-- <p>
            Para solicitar facturas de compras de destacados realizadas a través de la app, el usuario deberá dirigirse a Google Play o iTunes (en función de a través de qué plataforma se ha realizado 
            la compra) para realizar la petición. 
        </p> -->
        <p>
            No es posible realizar compras accidentales de destacados, ya que el proceso consta de varios pasos en los que hay que escoger opciones y aceptar activamente lo escogido, por lo que cualquier 
            reclamación en este sentido no será procedente. 
        </p>
        <p>
            Los precios y duraciones de los destacados disponibles pueden variar ya que dependen de varios factores como el tipo de producto que se promociona, su demanda o el área en la que se quiera 
            promocionar.
        </p>
        <p>
            Siempre se informa a los usuarios de la duración de los destacados y sus precios antes de finalizar la compra.
        </p>
        <p>
            Los servicios de visibilidad que han sido aplicados a un anuncio o a un perfil no pueden ser reembolsados independientemente del estado de publicación del anuncio o de si el perfil se encuentra 
            activo o inactivo.
        </p>
        <p>
            La compra de servicios de visibilidad no exime del cumplimiento de las normas de publicación establecidas para operar en Nolesile.
        </p>
        <p>
            En caso de fallo en la aplicación de un servicio de visibilidad contratado a través de la web, por incidencia técnica, el plazo para solicitar el reembolso será de 14 días naturales a partir 
            de la compra del destacado. 
        </p>
        <p>
            <b>Tipos de destacados para anuncios</b>
        </p>
        <p>
            Destacado en tu zona<br>
            – Cambia el formato del anuncio para hacerlo más llamativo.<br> 
            – Resitúa tu anuncio en las primeras posiciones del muro.<br>
            – Incluye el anuncio en la colección de la app de destacados de tu municipio y en el de los del resto de municipios de tu provincia, siempre que en esos municipios 
            no esté disponible el destacado de Ciudad.
        </p>
        <p>
            Destacado en tu ciudad<br> 
            – Cambia el formato del anuncio para hacerlo más llamativo.<br> 
            – Resitúa tu anuncio en las primeras posiciones del muro.<br>
            – Incluye el anuncio en la colección de la app de destacados de tu municipio. 
        </p>
        <p>
            Puedes contratarlo si tienes tu perfil ubicado en estas poblaciones: Barcelona, Madrid, Valencia, Sevilla, Zaragoza, Málaga, Alicante, Córdoba, Valladolid, Granada, 
            Badalona, Terrassa, Sabadell, Sant Cugat del Vallès, Móstoles, L’Hospitalet de Llobregat, Alcalá de Henares, Palma de Mallorca, Mataró, Getafe, Murcia, Vigo, A Coruña, 
            Marbella, Tarragona, Donostia-San Sebastián, Oviedo, Elche, Lleida, Santander, Viladecans, Girona, Gijón, Reus, Rubí, Pamplona y Bilbao.
        </p>
        <p>
            Destacado en España<br> 
            – Cambia el formato del anuncio para hacerlo más llamativo.<br>
            – Resitúa tu anuncio en las primeras posiciones del muro.<br>
            – Incluye el anuncio en la colección de la app de destacados de todos los municipios de España independientemente de la ubicación determinada para el perfil.
        </p>
        <!-- <p>
            Urge 
            – Cambia el formato del anuncio para hacerlo más llamativo.
            – Los anuncios destacados como Urge podrán ser buscados con un filtro específico desde el buscados de la web y de la app
        </p> 
        <p>
            *En web el destacado tipo urge sólo puede contratarse en la subida o edición de un anuncio.
        </p>-->
        <p>
            Si se modifica la ubicación de un perfil, los anuncios que se encuentren destacado desde antes de hacer el cambio aparecerán en el muro de la nueva zona pero 
            permanecerán en el carrusel y la colección de destacados de la ubicación que establecida cuando fueron contratados.
        </p>
        <p>
            Nolesile puede realizar cargos por editar o reactivar un anuncio en determinadas versiones de la aplicación. En este caso, el usuario siempre será debidamente 
            informado del coste del servicio antes de confirmar la compra. El usuario siempre tendrá la posibilidad de rechazar el servicio sin que esta acción le suponga coste alguno.
        </p>
        <p>
            Nolesile se reserva el derecho a variar el número de anuncios gratuitos para cuentas particulares y no destacadas.
        </p>
        <p>
            <b>10. Servicio de Suscripciones</b> 
        </p>
        <p>
            Las suscripciones tienen una renovación automática hasta su cancelación por un período adicional equivalente al periodo que acordó al suscribirse.
        </p>
        <p>
            La suscripción se puede cancelar en cualquier momento.
        </p>
        <p>
            Cancelar su cuenta de Nolesile o eliminar la app de Nolesile de su dispositivo no confirma la cancelación de la suscripción, por tanto no exime de 
            seguir pagando por la suscripción. 
        </p>
        <p>
            En caso de que un perfil sea desactivado por Nolesile por un incumplimiento de las reglas de convivencia o de las condiciones de uso establecidos, 
            el Usuario recibirá una notificación en la dirección de correo asociada al perfil desactivado y será responsabilidad del Usuario cancelar su suscripción. 
        </p>
        <p>
            El derecho de desistimiento no será aplicable a los servicios de suscripción cuya ejecución haya comenzado.
        </p>
        <!-- <p>
            11. Moneda Nolesile
        </p>
        <p>
            La moneda Nolesile está disponible únicamente en web y permite comprar pack de destacados de zona, ciudad y país con descuentos. No permite la compra de destacados ‘Urge’ ni de servicios de reactivado de anuncios caducados. La moneda wallapop no sirve en ningún caso para pagar productos anunciados en la app y es de uso exclusivo para pago de destacados. 
        </p>
        <p>
            El método de pago permitido para adquirir moneda Nolesile es tarjeta de débito o crédito. Las compras de moneda Nolesile no son reembolsables si el usuario ha hecho uso de algún crédito de la moneda wallapop.
        </p>
        <p>
            En caso de no haber hecho uso del crédito, el plazo para solicitar un reembolso es de 14 días desde el momento de la compra. Pasado este plazo, no será posible emitirlo.
        </p>
        <p>
            Los paquetes de moneda Nolesile expiran pasados 12 meses de la compra de los mismos.  Comprando un nuevo pack, los créditos restantes adquieren la nueva fecha de expiración.

            No es posible vender moneda Nolesile, ni transferirla de un perfil de Nolesile a otro.

            Es posible consultar el saldo de moneda Nolesile en el apartado ‘mi zona’ de la web. 

            12. Servicio de envío de Nolesile

            wallapop pone a disposición de sus Usuarios un servicio de mensajería, que se gestionará a través de Correos, para el envío de los productos que adquieran a través de su aplicación.

            Durante el proceso de compra, el usuario podrá contratar este servicio de envío, siendo imprescindible que la transacción se efectúe a través del chat de wallapop y que el pago del producto se realice a través de wallapop.

            Los pagos a través de la plataforma se hacen a través de Mangopay, que permite realizar pagos y cobros entre Usuarios a través de internet de forma segura, siempre que tanto el comprador como el vendedor hayan llevado a cabo el registro en Mangopay y la aceptación de los términos y condiciones de uso de la plataforma.

            (Mangopay, propiedad de Leetchi Corp, sociedad domiciliada en 14 rue Aldringen, L-1118, Luxemburgo). 

            En todo caso, se informa a los Usuarios que wallapop no presta servicios de pago electrónico ni intermedia en su prestación. Por tanto, los Usuarios que utilizan la plataforma Mangopay suscribirán un contrato con Mangopay en lo que respecta a servicios de pago, del cual no forma parte wallapop y que se regirá por los términos y condiciones de contratación con Mangopay. 

            A pesar de lo indicado en el punto anterior, cualquier reclamación o controversia que pueda surgir en relación con los servicios de pago prestados por Mangopay, deberá gestionarse a través de nuestro servicio de atención al cliente.

            Una vez solicitado el servicio, la aplicación proporcionará un código de envío, tanto al vendedor como al comprador, para hacer seguimiento del envío y que el paquete esté localizable en todo momento. El comprador recibirá el paquete en la dirección que haya proporcionado en el momento del pago.

            Condiciones generales

            Peso máximo: 30 Kg por pedido.

            Coste de envío*:  

            – de 0 a 2 kg  = 2,95€

            – de 2 a 5 kg = 3,95€

            – de 5 a 10 kg = 5,95€

            – de 10 a 20 kg = 8,95€

            – de 20 a 30 kg = 13,95€

            Gastos de gestión: 

            Compras hasta 25€: coste de gestión 1,95€

            Compras de 25€ a 1000€: coste de gestión variable en función del importe del producto (entre 5 y 10%)

            Zonas de envío: Por el momento el servicio de envío está disponible para envíos dentro del territorio peninsular de España. Quedan excluidas las islas Canarias, islas Baleares, Ceuta y Melilla y Andorra. No es posible realizar envíos a nivel internacional.

            *En el momento de subir el anuncio, el vendedor deberá indicar en qué tramo de peso se encuentra el producto (incluyendo el embalaje). La medida más grande no puede superar los 170 cm y las tres sumadas no pueden superar los 270 cm. En caso de no escoger el tramo correcto, el paquete no podrá ser admitido en la oficina de Correos. Para comprobar los objetos no permitidos en los envíos postales puedes dirigirte a la página web de Correos.

            Vendedor

            Cómo vender paso a paso:

            Como en cualquier transacción, cuando un usuario esté interesado en comprar uno de los productos que el vendedor ofrezca a través de wallapop, el vendedor recibirá una notificación a través del chat de wallapop que le permitirá acceder a una pantalla y ver todos los detalles de la oferta recibida.

            En esta pantalla se indicará el nombre del usuario comprador y el precio que ofrece por el artículo, así como su voluntad de utilizar el servicio de envío.

            En el supuesto de optar por aceptar la oferta del comprador, el vendedor tendrá que completar los siguientes datos:

            – Método de envío. Deberá seleccionar “Correos” si en la oferta recibida se ha solicitado el envío.

            – Peso del producto enviado.

            – Dirección del remitente. Se deberá proporcionar una dirección válida para la devolución del paquete, para el caso que el destinatario no recogiera su pedido.

            – Los gastos de envío son gratuitos para el vendedor. En este sentido, aparecerá el mensaje “Es gratis!”.

            Preparación del producto para el envío:

            El peso máximo permitido es 30kg por envío (caja).

            El vendedor deberá asegurarse de elegir el tamaño de paquete correcto para evitar costes adicionales de Correos.

            Para que el producto llegue en las mejores condiciones posibles, es recomendable empaquetarlo usando sobres especiales para envíos o sobres acolchados. Es importante que el vendedor lo prepare con mucho cuidado para evitar que el producto sufra desperfectos durante el envío.

            wallapop en ningún caso será responsable por los daños provocados a los productos como consecuencia de un embalaje incorrecto o insuficiente.

            Entrega del paquete

            El plazo para entregar el paquete a Correos es de 5 días naturales a contar desde la fecha de venta del producto. Pasado el plazo de 5 días, el código de envío de Correos caducará y el importe se devolverá automáticamente al comprador.

            Es muy importante respetar el plazo para evitar que el comprador tenga que volver a realizar la compra tras su cancelación, con el perjuicio que ello pudiera causarle.

            Seguimiento del envío

            Una vez el vendedor acepte el pago, se le facilitará un código de envío, que le permitirá consultar en todo momento el estado del mismo. De todos modos, el vendedor será informado acerca del estado del envío por SMS en el teléfono que haya indicado en el formulario como vendedor. La recepción de estos mensajes es gratuita.

            Si lo prefiere, podrá consultar el estado del paquete desde el localizador de envíos de la web de Correos.

            Una vez entregado el paquete, el anuncio será marcado como vendido automáticamente.

            Recepción del pago

            El comprador tiene 48 horas para verificar que el producto funciona correctamente.

            Pasado ese plazo, se efectuará el pago al vendedor en la cuenta bancaria introducida (ésta debe ser española), que recibirá en un plazo aproximado de 48 horas, dependiendo de su banco. Si no se modifican los datos, ingresaremos todos los pagos que se reciban de forma automática en esa cuenta. La transferencia se realiza siguiendo la normativa SEPA, aunque algunos bancos pueden aplicar comisiones por este servicio. Dicha comisión no la ordena la plataforma de pago MangoPay por lo que cualquier cobro adicional deberá ser reclamado al banco.

            En cumplimiento con el reglamento europeo contra el blanqueo de capital, fraude y financiamiento terrorista, actualmente es obligatorio identificarse para poder recibir pagos de ventas realizadas a través de wallapop envíos. El procedimiento de verificación KYC (Know Your Customer) consiste en proporcionar una fotografía del documento identificativo del titular de la cuenta bancaria en la que el usuario quiere recibir los pagos. La validación se realizará a través del apartado habilitado para ello en la aplicación. Dicho apartado aparecerá disponible para el usuario vendedor en el momento que tenga una venta en curso (paquete ya entregado en Correos).

            Los documentos válidos para verificar identidad son los siguientes, dependiendo de la nacionalidad del solicitante:

            Comunidad europea: pasaporte, permiso de residencia, DNI o carnet de conducir.

            Reino Unido, Estados Unidos o Canadá: pasaporte, carnet de conducir.

            Otros países: pasaporte (el NIE no es válido para la verificación de identidad). 

            Una vez subido el documento, éste se traslada a nuestra plataforma de pago Mangopay y se verifica en un plazo aproximado de 24 horas. Este proceso de validación se debe realizar una única vez por cada perfil en el que se realizan envíos como vendedor. wallapop no almacena los documentos identificativos de los usuarios en su base de datos, sino que únicamente actúa como intermediario para la validación de los mismos con la empresa responsable de procesar los pagos (Mangopay). 

            Mangopay tiene la obligación de conservar los documentos de identidad en cumplimiento de la normativa legal europea RGDP (Artículo 17 párrafo 3). Asimismo, Mangopay se rige también por la ley de Luxemburgo del 12 de noviembre de 2004 contra el lavado de capital y financiación terrorista. Dicha ley obliga también a conservar el documento de identidad de aquellos que reciban pagos online a través de su plataforma durante 5 años. 

            Comprador

            Cómo comprar paso a paso para la contratación del servicio de envío de wallapop:

            El comprador interesado en adquirir un producto a través de la aplicación de wallapop, podrá iniciar, como en otras ocasiones, una conversación con el vendedor a través del chat de wallapop y a través de la misma confirmar la ejecución de la transacción. Este paso resulta imprescindible para poder contratar posteriormente el servicio de envío de wallapop.

            El comprador podrá iniciar el proceso de compra en la pantalla de conversación con el vendedor, donde encontrará el botón azul “Comprar” situado en la parte superior a la derecha. Pulsando este botón accederá al formulario de compra desde donde podrá completar todos los datos necesarios para poder recibir el producto:

            – Datos de la tarjeta a través de la cual se efectuará el pago.

            – Envío a través de Correos. Se deberá seleccionar esta opción expresamente.

            – Dirección de entrega. (No se aceptan cambios de dirección)

            – Número de teléfono móvil.

            Una vez rellenados todos los campos anteriores, aparecerá el coste total de la compra, el cual incluirá:

            – Precio del producto.

            – Coste del envío.

            – Coste de gestión.

            – Precio final a pagar por el producto.

            El coste de gestión se calculará en base al precio del producto comprado. Es imprescindible haber realizado el pago a través de wallapop para poder contratar el servicio de envío.

            wallapop emitirá una factura al comprador (si éste lo pide) por los gastos de gestión asociados al servicio de envío contratado. Este documento se le hará llegar al comprador por vía email y será distinto al correo que recibirá el comprador en el momento del pago, el cual no tendrá la consideración de factura. Adicionalmente, el comprador recibirá otra factura correspondiente a la utilización del servicio de envío wallapop.

            Si el comprador tiene alguna duda sobre las condiciones de uso del servicio de pago de wallapop, podrá consultar los servicios de pago debajo del precio total a pagar en el enlace las “Condiciones de uso” de wallapop.

            Si el vendedor no entrega el paquete a Correos durante los 5 días siguientes a la compra, se cancelará la compra y el importe será devuelto al comprador en el plazo de 48 horas hábiles.

            Seguridad

            Todos los pagos realizados utilizando el sistema de pagos de wallapop son seguros y están protegidos de forma tal que el dinero no se transferirá al vendedor hasta que hayan transcurrido 48 horas a contar desde la recepción del paquete por parte del comprador y siempre y cuando éste no haya manifestado su disconformidad con el producto recibido. Para poder entrar en el proceso de protección, debes contactar con nosotros en un plazo no superior a 48h desde la entrega del paquete. Cualquier reclamación que se haga 48 horas después contando desde la recepción del e-mail de entrega, o en su caso, desde la fecha de recepción que consta en la información de entrega proporcionada por Correos, será rechazada. 

            Para realizar las entregas de los productos, sus datos personales serán facilitados a terceros operadores de servicio postal que se encargarán de dicha gestión y entre las partes que realicen la transacción o contrato correspondiente, de conformidad con lo establecido en la normativa de protección de datos de carácter personal.

            Seguimiento del envío:

            Una vez el vendedor acepte realizar la transacción, el comprador recibirá un código de envío por SMS en el teléfono que haya indicado en el formulario como comprador para poder consultar el estado del mismo. Asimismo, el comprador recibirá un SMS cuando el paquete esté en Correos y empiece el envío. La recepción de estos mensajes es gratuita.

            Si lo prefiere, podrá consultar el estado del paquete desde el localizador de envíos de la web de Correos.

            No entrega del paquete:

            En el supuesto que tras dos intentos de entrega no se haya podido localizar al comprador en la dirección consignada de entrega, el producto quedará a disposición del destinatario en la oficina de Correos para que pueda ser recogido. Si pasados 15 días el comprador no recoge el paquete, éste será devuelto al remitente y el importe abonado será devuelto al comprador.

            Mediaciones

            wallapop es una aplicación que actúa como mero intermediario entre el vendedor y el comprador. wallapop no es propietaria de ninguno de los artículos en venta o vendidos a través de su plataforma y no es parte en la compraventa llevada a cabo exclusivamente entre compradores y vendedores. wallapop no revisa ni valida los productos que los usuarios ofrecen a través del servicio, por lo que wallapop no será en ningún caso responsable, ni directa ni indirectamente, ni subsidiariamente, de los daños y perjuicios de cualquier naturaleza derivados de la utilización y contratación de los contenidos y de las actividades de los usuarios y/o de terceros a través del servicio, así como tampoco será responsable de la falta de licitud, fiabilidad, utilidad, veracidad, exactitud, exhaustividad y actualidad de los mismos.

            Con carácter general, los productos adquiridos a través de la aplicación de wallapop no pueden ser devueltos, salvo en aquellos casos en los que así sea pactado entre vendedor y comprador. Con carácter general, el derecho de desistimiento no resulta de aplicación a las transacciones realizadas a través de la aplicación de wallapop, salvo en aquellos casos en los que la ley lo reconozca expresamente, en cuyo caso, dicho derecho deberá hacerse valer directamente por el comprador frente al vendedor, sin que wallapop pueda resultar en ningún caso responsable en el supuesto de incumplimiento por parte del vendedor.

            wallapop sólo rembolsará el precio siempre que la mediación haya sido evaluada por el único canal que ofrece wallapop para la mediación. Recuerda que es necesario conservar el embalaje original para realizar cualquier reclamación.

            Los siguientes casos están excluidos de nuestra política de devoluciones:

            – Productos no permitidos en nuestras reglas de convivencia

            – Productos cuyo contenido o funcionamiento no podamos comprobar (Cosmética, perfumes, botellas de vino, climatizadores etc.)

            – Productos averiados o para piezas.

            – Diferencias de color cuando el mismo no esté reflejado en la descripción.

            – Productos manchados, sucios o con otras marcas de uso.

            – Productos en los cuales falten accesorios no imprescindibles para su uso (tornillos, botones, etc.)

            – Discrepancias de medidas en ropa y calzado.

            – Productos en buen estado pero que la caja o el embalaje esté dañado.

            – Productos manipulados por parte del comprador

            Una vez aceptada la devolución, wallapop facilitará al comprador un código de envío para que pueda entregar el producto en la oficina de Correos más cercana en un plazo máximo de 10 días hábiles y tramitará la devolución del importe en el plazo máximo de 72 horas hábiles una vez el vendedor haya recibido de vuelta el producto. De no hacer la devolución en el plazo de 10 días, el dinero se liberará al vendedor.

            Para poder hacer uso de este servicio será imprescindible que toda la transacción se haya efectuado a través del chat de wallapop y que el producto adquirido se ajuste a nuestras reglas de convivencia.

            En caso de no recibir un producto, el tiempo de reclamación establecido es de 6 meses. Pasado este plazo no será posible realizar ninguna reclamación ni recuperar el paquete.

            En caso de posible extravío wallapop iniciará los trámites necesarios con Correos para poder determinar lo ocurrido y compensar tanto a comprador como a vendedor en caso de que sea necesario. La resolución puede demorarse hasta 35 días.

            En caso de rotura en el transporte wallapop podrá determinar si la rotura ha sido causada por Correos o por un mal embalaje del producto. El comprador deberá aportar las pruebas necesarias para poder evaluar cada situación. En caso de que se determine que la rotura ha sido causada por correos, se abrirá la pertinente reclamación que puede tardar hasta 30 días en quedar resuelta. En caso de que el embalaje sea inapropiado, se realizará el abono o compensación oportuna, en función del daño causado en el producto.

            En caso de que un producto no sea posible entregar ni a destinatario ni a remitente debido a la introducción errónea de la dirección u otras causas, el usuario dispone de 60 días naturales desde que se lo notifiquemos para hacer la correspondiente reclamación a través de nuestras vías de contacto y recuperar el producto. Pasado dicho plazo, no será posible recuperar el paquete.

            En el improbable caso de que un envío pase por tramitación aduanera, se establece un plazo de 60 días para que Aduanas libere el envío. Pasado dicho plazo, si el paquete no se ha podido entregar,  procederemos a indemnizar a ambos usuarios implicados en la transacción. -->
        <p>    
            <b>11. Nulidad e ineficacia de las cláusulas</b>
        </p>
        <p>
            Si cualquier cláusula incluida en los presentes Términos de Uso fuese declarada total o parcialmente, nula o ineficaz, tal nulidad o ineficacia tan sólo afectará a dicha 
            disposición o a la parte de la misma que resulte nula o ineficaz, subsistiendo los presentes Términos de Uso en todo lo demás, considerándose tal disposición total o 
            parcialmente por no incluida.
        </p>
        <p>
            <b>12. Legislación aplicable y jurisdicción competente</b>
        </p>
        <p>
            Estos Términos de Uso se regirán e interpretarán conforme a la legislación española. En caso de litigio entre Nolesile y el Usuario, éste podrá interponer su acción 
            ante los tribunales españoles correspondientes al domicilio de Nolesile, o bien ante los tribunales del lugar donde el Usuario esté domiciliado.  
        </p><br>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <button type="button" class="btn btn-success" [routerLink]="['/inicio']">Volver a Silenole</button>
    </div>
</div>

<!-- Footer -->
<app-footer></app-footer>
