.body{
    font-family: 'Open Sans Condensed';
    color: rgb(13, 134, 13);
}

/* .silenole{font-size: 4em;} */

#contenedor{height: 400px;}

.card{
    margin: 10px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow:  10px 10px 20px #cccccc, 
                -10px -10px 20px #ffffff;
}

#cardModal{
    margin: 10px;
    border-radius: 20px;
    background: #ffffff;
  }

  img {image-orientation: from-image;}