<!-- FOOTER -->
<div class="container-fluid bg-success ">

  <div class="row d-flex justify-content-center ">

    <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center text-white">

      <button 
        type="button" 
        class="btn btn-success"
        >
        <a href="mailto:nolesile@nolesile.com" style="color: white; text-decoration:none">nolesile@nolesile.com</a>
      </button>

      <button 
        type="button" 
        class="btn btn-success" 
        >
        <a href="https://www.linkedin.com/company/nolesile" target="_blank" style="color: white; text-decoration:none">NoleSile APPS©</a>
      </button>

      <button 
        type="button" 
        class="btn btn-success"
        >
        <a href="https://www.esmadrid.com/" target="_blank" style="color: white; text-decoration:none">Madrid 2020</a>
      </button>

    </div>
    
    <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center mb-3">

      <a href="https://twitter.com/nolesilenolesi1" target="_blank">
        <img 
          src="assets/img/twitterW.png" 
          width="30" 
          alt="twitter" 
          class="mt-3"
        >
      </a>

      <a href="https://facebook.com/nolesile" target="_blank">
        <img 
          src="assets/img/facebookW.png" 
          width="30" 
          alt="facebook" 
          class="mx-4 mt-3"
        >
      </a>

      <a href="https://instagram.com/nolesileapp" target="_blank">
        <img 
          src="assets/img/instagramW.png" 
          width="30" 
          alt="instagram" 
          class="mt-3"
        >
      </a>
      
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">

      <button 
        type="button"  
        class="btn btn-success" 
        [routerLink]="['/privacidad']"
        (click)="scrollToTop()"
        >
        Politica de Privacidad
      </button>

      <button 
        type="button"  
        class="btn btn-success" 
        [routerLink]="['/terminos']"
        (click)="scrollToTop()"
        >
        Terminos de Uso
      </button>

      <button 
        type="button"  
        class="btn btn-success" 
        [routerLink]="['/cookies']"
        (click)="scrollToTop()"
        >
        Cookies
      </button>

    </div>
    
  </div>
  
</div>

