<!-- FOOTER -->
<div class="container-fluid bg-success ">
  <div class="row d-flex justify-content-center ">
    <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center text-white">
      
      <p class="d-flex align-items-center mt-3 pt-1">nolesile@nolesile.com |</p>
      <p class="d-flex align-items-center mt-3 pt-1"> Asaber © | </p>
      <p class="d-flex align-items-center mt-3 pt-1"> Madrid 2020  </p>
      <!-- <button 
        type="button" 
        class="btn btn-success" 
        [routerLink]="['/privacidad']"
      >
        nolesile@nolesile.com
      </button>
      <button 
        type="button" 
        class="btn btn-success" 
        [routerLink]="['/terminos']"
      >
        Asaber ©
      </button>
      <button 
        type="button" 
        class="btn btn-success" 
        [routerLink]="['/cookies']"
      >
        Madrid 2020
      </button> -->
    </div>
    
    <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center mb-3">

      <img 
        src="assets/img/twitterW.png" 
        width="30" 
        alt="twitter" 
        class="mt-3"
      >

      <img 
        src="assets/img/facebookW.png" 
        width="30" 
        alt="facebook" 
        class="mx-4 mt-3"
      >

      <img 
        src="assets/img/instagramW.png" 
        width="30" 
        alt="instagram" 
        class="mt-3"
      >
      
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">

      <button 
        type="button"  
        class="btn btn-success" 
        [routerLink]="['/privacidad']"
      >
        Politica de Privacidad
      </button>

      <button 
        type="button"  
        class="btn btn-success" 
        [routerLink]="['/terminos']"
      >
        Terminos de Uso
      </button>

      <button 
        type="button"  
        class="btn btn-success" 
        [routerLink]="['/cookies']"
      >
        Cookies
      </button>

    </div>
    
  </div>
</div>

