.card-text {
  margin-left: 10px;
}

.card-title {
  margin-left: 10px;
}

.card-block {
  margin-top: 20px;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card{
  margin: 10px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow:  10px 10px 20px #cccccc, 
              -10px -10px 20px #ffffff;
}

#cardModal{
  margin: 10px;
  border-radius: 20px;
  background: #ffffff;
}

img {image-orientation: from-image;}



/* .fullscreen-modal .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 576px) {
  .fullscreen-modal .modal-dialog {
    max-width: 310px;
  }
}
@media (min-width: 768px) {
  .fullscreen-modal .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .fullscreen-modal .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .fullscreen-modal .modal-dialog {
     width: 1170px;
  }
} */